xmlbeans/src/main/xsd/SummariskIndgangsangivelseSamlingOmdiriger.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" name="SummariskIndgangsangivelseSamlingOmdirigerService" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   
   <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
      
      <xs:documentation>Fomålet med service er at sende anmodning om omdirigering af summarisk indgangsangivelse.</xs:documentation>
   
   </xs:annotation>
   
   <types>
      
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
         
         <xsd:include schemaLocation="schema/SummariskIndgangsangivelseSamlingOmdirigerInterface.xsd"/>
      
      </xsd:schema>
   
   </types>
   
   <message name="SummariskIndgangsangivelseSamlingOmdirigerServiceRequest">
      
      <part name="Request" element="fase2.1:SummariskIndgangsangivelseSamlingOmdiriger_I"/>
   
   </message>
   
   <message name="SummariskIndgangsangivelseSamlingOmdirigerServiceResponse">
      
      <part name="Response" element="fase2.1:SummariskIndgangsangivelseSamlingOmdiriger_O"/>
   
   </message>
   
   <message name="KompenserTransRequest">
      
      <part name="Request" element="fase2.1:KompenserTrans"/>
   
   </message>
   
   <message name="KompenserTransResponse">
      
      <part name="Response" element="fase2.1:KompenserTransSvar"/>
   
   </message>
   
   <portType name="SummariskIndgangsangivelseSamlingOmdirigerServicePortType">
      
      <operation name="getSummariskIndgangsangivelseSamlingOmdiriger">
         
         <input message="fase2.1:SummariskIndgangsangivelseSamlingOmdirigerServiceRequest"/>
         
         <output message="fase2.1:SummariskIndgangsangivelseSamlingOmdirigerServiceResponse"/>
      
      </operation>
      
      <operation name="getKompenserTrans">
         
         <input message="fase2.1:KompenserTransRequest"/>
         
         <output message="fase2.1:KompenserTransResponse"/>
      
      </operation>
   
   </portType>

   <binding name="SummariskIndgangsangivelseSamlingOmdirigerServicePortBinding"
     type="fase2.1:SummariskIndgangsangivelseSamlingOmdirigerServicePortType">
     <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
     <operation name="getSummariskIndgangsangivelseSamlingOmdiriger">
       <soap:operation soapAction="" />
       <input>
         <soap:body use="literal" />
       </input>
       <output>
         <soap:body use="literal" />
       </output>
     </operation>
     <operation name="getKompenserTrans">
       <soap:operation soapAction="" />
       <input>
         <soap:body use="literal" />
       </input>
       <output>
         <soap:body use="literal" />
       </output>
     </operation>
   </binding>
   <service name="SummariskIndgangsangivelseSamlingOmdirigerService">
     <port name="SummariskIndgangsangivelseSamlingOmdirigerServicePortType" binding="fase2.1:SummariskIndgangsangivelseSamlingOmdirigerServicePortBinding">
       <soap:address location="http://ics.dk.logica.com:7001/SummariskIndgangsangivelseSamlingOmdiriger/SummariskIndgangsangivelseSamlingOmdirigerService" />
     </port>
   </service>
   
</definitions>
