xmlbeans/src/main/xsd/SummariskIndgangsangivelseGensendSamlingOpret.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" name="SummariskIndgangsangivelseGensendSamlingOpretService" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   
   <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
      
      <xs:documentation>Sender tom struktur til ICS der trigger, at ICS gensender en liste af ENS'er til Risiko.</xs:documentation>
   
   </xs:annotation>
   
   <types>
      
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
         
         <xsd:include schemaLocation="schema/SummariskIndgangsangivelseGensendSamlingOpretInterface.xsd"/>
      
      </xsd:schema>
   
   </types>
   
   <message name="SummariskIndgangsangivelseGensendSamlingOpretServiceRequest">
      
      <part name="Request" element="fase2.1:SummariskIndgangsangivelseGensendSamlingOpret_I"/>
   
   </message>
   
   <message name="SummariskIndgangsangivelseGensendSamlingOpretServiceResponse">
      
      <part name="Response" element="fase2.1:SummariskIndgangsangivelseGensendSamlingOpret_O"/>
   
   </message>
   
   <message name="KompenserTransRequest">
      
      <part name="Request" element="fase2.1:KompenserTrans"/>
   
   </message>
   
   <message name="KompenserTransResponse">
      
      <part name="Response" element="fase2.1:KompenserTransSvar"/>
   
   </message>
   
   <portType name="SummariskIndgangsangivelseGensendSamlingOpretServicePortType">
      
      <operation name="getSummariskIndgangsangivelseGensendSamlingOpret">
         
         <input message="fase2.1:SummariskIndgangsangivelseGensendSamlingOpretServiceRequest"/>
         
         <output message="fase2.1:SummariskIndgangsangivelseGensendSamlingOpretServiceResponse"/>
      
      </operation>
      
      <operation name="getKompenserTrans">
         
         <input message="fase2.1:KompenserTransRequest"/>
         
         <output message="fase2.1:KompenserTransResponse"/>
      
      </operation>
   
   </portType>

   <binding name="SummariskIndgangsangivelseGensendSamlingOpretServicePortBinding"
     type="fase2.1:SummariskIndgangsangivelseGensendSamlingOpretServicePortType">
     <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
     <operation name="getSummariskIndgangsangivelseGensendSamlingOpret">
       <soap:operation soapAction="" />
       <input>
         <soap:body use="literal" />
       </input>
       <output>
         <soap:body use="literal" />
       </output>
     </operation>
     <operation name="getKompenserTrans">
       <soap:operation soapAction="" />
       <input>
         <soap:body use="literal" />
       </input>
       <output>
         <soap:body use="literal" />
       </output>
     </operation>
   </binding>
   <service name="SummariskIndgangsangivelseGensendSamlingOpretService">
     <port name="SummariskIndgangsangivelseGensendSamlingOpretServicePortType" binding="fase2.1:SummariskIndgangsangivelseGensendSamlingOpretServicePortBinding">
       <soap:address location="http://ics.dk.logica.com:7001/SummariskIndgangsangivelseGensendSamlingOpret/SummariskIndgangsangivelseGensendSamlingOpretService" />
     </port>
   </service>
   
</definitions>
