xmlbeans/src/main/xsd/SummariskIndgangsangivelseOpdater.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" name="SummariskIndgangsangivelseOpdaterService" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   
   <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
      
      <xs:documentation>Formålet med denne service er at rette eksisterende Summarisk Indgangsangivelse, ved at sende ny angivelse der erstatter den gamle. Eller opdatere en eksisterende Summarisk Indgangsangivelse med ny relation eller tilstand (status).</xs:documentation>
   
   </xs:annotation>
   
   <types>
      
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
         
         <xsd:include schemaLocation="schema/SummariskIndgangsangivelseOpdaterInterface.xsd"/>
      
      </xsd:schema>
   
   </types>
   
   <message name="SummariskIndgangsangivelseOpdaterServiceRequest">
      
      <part name="Request" element="fase2.1:SummariskIndgangsangivelseOpdater_I"/>
   
   </message>
   
   <message name="SummariskIndgangsangivelseOpdaterServiceResponse">
      
      <part name="Response" element="fase2.1:SummariskIndgangsangivelseOpdater_O"/>
   
   </message>
   
   <message name="KompenserTransRequest">
      
      <part name="Request" element="fase2.1:KompenserTrans"/>
   
   </message>
   
   <message name="KompenserTransResponse">
      
      <part name="Response" element="fase2.1:KompenserTransSvar"/>
   
   </message>
   
   <portType name="SummariskIndgangsangivelseOpdaterServicePortType">
      
      <operation name="getSummariskIndgangsangivelseOpdater">
         
         <input message="fase2.1:SummariskIndgangsangivelseOpdaterServiceRequest"/>
         
         <output message="fase2.1:SummariskIndgangsangivelseOpdaterServiceResponse"/>
      
      </operation>
      
      <operation name="getKompenserTrans">
         
         <input message="fase2.1:KompenserTransRequest"/>
         
         <output message="fase2.1:KompenserTransResponse"/>
      
      </operation>
   
   </portType>
   
   <binding name="SummariskIndgangsangivelseOpdaterServicePortBinding"
     type="fase2.1:SummariskIndgangsangivelseOpdaterServicePortType">
     <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
     <operation name="getSummariskIndgangsangivelseOpdater">
       <soap:operation soapAction="" />
       <input>
         <soap:body use="literal" />
       </input>
       <output>
         <soap:body use="literal" />
       </output>
     </operation>
     <operation name="getKompenserTrans">
       <soap:operation soapAction="" />
       <input>
         <soap:body use="literal" />
       </input>
       <output>
         <soap:body use="literal" />
       </output>
     </operation>
   </binding>
   <service name="SummariskIndgangsangivelseOpdaterService">
     <port name="SummariskIndgangsangivelseOpdaterServicePortType" binding="fase2.1:SummariskIndgangsangivelseOpdaterServicePortBinding">
       <soap:address location="http://ics.dk.logica.com:7001/SummariskIndgangsangivelseOpdater/SummariskIndgangsangivelseOpdaterService" />
     </port>
   </service>
   
</definitions>
