xmlbeans/src/main/xsd/SummariskIndgangsangivelseOmdirigeretHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" name="SummariskIndgangsangivelseOmdirigeretHentService" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   
   <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
      
      <xs:documentation>Henter en del af en diversionnotification.</xs:documentation>
   
   </xs:annotation>
   
   <types>
      
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
         
         <xsd:include schemaLocation="schema/SummariskIndgangsangivelseOmdirigeretHentInterface.xsd"/>
      
      </xsd:schema>
   
   </types>
   
   <message name="SummariskIndgangsangivelseOmdirigeretHentServiceRequest">
      
      <part name="Request" element="fase2.1:SummariskIndgangsangivelseOmdirigeretHent_I"/>
   
   </message>
   
   <message name="SummariskIndgangsangivelseOmdirigeretHentServiceResponse">
      
      <part name="Response" element="fase2.1:SummariskIndgangsangivelseOmdirigeretHent_O"/>
   
   </message>
   
   <message name="KompenserTransRequest">
      
      <part name="Request" element="fase2.1:KompenserTrans"/>
   
   </message>
   
   <message name="KompenserTransResponse">
      
      <part name="Response" element="fase2.1:KompenserTransSvar"/>
   
   </message>
   
   <portType name="SummariskIndgangsangivelseOmdirigeretHentServicePortType">
      
      <operation name="getSummariskIndgangsangivelseOmdirigeretHent">
         
         <input message="fase2.1:SummariskIndgangsangivelseOmdirigeretHentServiceRequest"/>
         
         <output message="fase2.1:SummariskIndgangsangivelseOmdirigeretHentServiceResponse"/>
      
      </operation>
      
      <operation name="getKompenserTrans">
         
         <input message="fase2.1:KompenserTransRequest"/>
         
         <output message="fase2.1:KompenserTransResponse"/>
      
      </operation>
   
   </portType>

   <binding name="SummariskIndgangsangivelseOmdirigeretHentServicePortBinding"
     type="fase2.1:SummariskIndgangsangivelseOmdirigeretHentServicePortType">
     <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
     <operation name="getSummariskIndgangsangivelseOmdirigeretHent">
       <soap:operation soapAction="" />
       <input>
         <soap:body use="literal" />
       </input>
       <output>
         <soap:body use="literal" />
       </output>
     </operation>
     <operation name="getKompenserTrans">
       <soap:operation soapAction="" />
       <input>
         <soap:body use="literal" />
       </input>
       <output>
         <soap:body use="literal" />
       </output>
     </operation>
   </binding>
   <service name="SummariskIndgangsangivelseOmdirigeretHentService">
     <port name="SummariskIndgangsangivelseOmdirigeretHentServicePortType" binding="fase2.1:SummariskIndgangsangivelseOmdirigeretHentServicePortBinding">
       <soap:address location="http://ics.dk.logica.com:7001/SummariskIndgangsangivelseOmdirigeretHent/SummariskIndgangsangivelseOmdirigeretHentService" />
     </port>
   </service>
   
</definitions>
