xmlbeans/src/main/xsd/SummariskIndgangsangivelseUdenlandskHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" name="SummariskIndgangsangivelseUdenlandskHentService" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   
   <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
      
      <xs:documentation>Formålet med denne service er at kunne bede det danske ICS om at hente oplysninnger omkring en summarisk indgangsangivelse hos et andet EU-land</xs:documentation>
   
   </xs:annotation>
   
   <types>
      
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
         
         <xsd:include schemaLocation="schema/SummariskIndgangsangivelseUdenlandskHentInterface.xsd"/>
      
      </xsd:schema>
   
   </types>
   
   <message name="SummariskIndgangsangivelseUdenlandskHentServiceRequest">
      
      <part name="Request" element="fase2.1:SummariskIndgangsangivelseUdenlandskHent_I"/>
   
   </message>
   
   <message name="SummariskIndgangsangivelseUdenlandskHentServiceResponse">
      
      <part name="Response" element="fase2.1:SummariskIndgangsangivelseUdenlandskHent_O"/>
   
   </message>
   
   <message name="KompenserTransRequest">
      
      <part name="Request" element="fase2.1:KompenserTrans"/>
   
   </message>
   
   <message name="KompenserTransResponse">
      
      <part name="Response" element="fase2.1:KompenserTransSvar"/>
   
   </message>
   
   <portType name="SummariskIndgangsangivelseUdenlandskHentServicePortType">
      
      <operation name="getSummariskIndgangsangivelseUdenlandskHent">
         
         <input message="fase2.1:SummariskIndgangsangivelseUdenlandskHentServiceRequest"/>
         
         <output message="fase2.1:SummariskIndgangsangivelseUdenlandskHentServiceResponse"/>
      
      </operation>
      
      <operation name="getKompenserTrans">
         
         <input message="fase2.1:KompenserTransRequest"/>
         
         <output message="fase2.1:KompenserTransResponse"/>
      
      </operation>
   
   </portType>

   <binding name="SummariskIndgangsangivelseUdenlandskHentServicePortBinding"
     type="fase2.1:SummariskIndgangsangivelseUdenlandskHentServicePortType">
     <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
     <operation name="getSummariskIndgangsangivelseUdenlandskHent">
       <soap:operation soapAction="" />
       <input>
         <soap:body use="literal" />
       </input>
       <output>
         <soap:body use="literal" />
       </output>
     </operation>
     <operation name="getKompenserTrans">
       <soap:operation soapAction="" />
       <input>
         <soap:body use="literal" />
       </input>
       <output>
         <soap:body use="literal" />
       </output>
     </operation>
   </binding>
   <service name="SummariskIndgangsangivelseUdenlandskHentService">
     <port name="SummariskIndgangsangivelseUdenlandskHentServicePortType" binding="fase2.1:SummariskIndgangsangivelseUdenlandskHentServicePortBinding">
       <soap:address location="http://ics.dk.logica.com:7001/SummariskIndgangsangivelseUdenlandskHent/SummariskIndgangsangivelseUdenlandskHentService" />
     </port>
   </service>
   
</definitions>
