xmlbeans/src/main/xsd/SummariskIndgangsangivelseSamlingHent.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/" name="SummariskIndgangsangivelseSamlingHentService" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   
   <xs:annotation xmlns:xs="http://www.w3.org/2001/XMLSchema">
      
      <xs:documentation>Henter oplysninger fra summarisk indgangsangivelser på baggrund af MRN eller Entry key. </xs:documentation>
   
   </xs:annotation>
   
   <types>
      
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/">
         
         <xsd:include schemaLocation="schema/SummariskIndgangsangivelseSamlingHentInterface.xsd"/>
      
      </xsd:schema>
   
   </types>
   
   <message name="SummariskIndgangsangivelseSamlingHentServiceRequest">
      
      <part name="Request" element="fase2.1:SummariskIndgangsangivelseSamlingHent_I"/>
   
   </message>
   
   <message name="SummariskIndgangsangivelseSamlingHentServiceResponse">
      
      <part name="Response" element="fase2.1:SummariskIndgangsangivelseSamlingHent_O"/>
   
   </message>
   
   <message name="KompenserTransRequest">
      
      <part name="Request" element="fase2.1:KompenserTrans"/>
   
   </message>
   
   <message name="KompenserTransResponse">
      
      <part name="Response" element="fase2.1:KompenserTransSvar"/>
   
   </message>
   
   <portType name="SummariskIndgangsangivelseSamlingHentServicePortType">
      
      <operation name="getSummariskIndgangsangivelseSamlingHent">
         
         <input message="fase2.1:SummariskIndgangsangivelseSamlingHentServiceRequest"/>
         
         <output message="fase2.1:SummariskIndgangsangivelseSamlingHentServiceResponse"/>
      
      </operation>
      
      <operation name="getKompenserTrans">
         
         <input message="fase2.1:KompenserTransRequest"/>
         
         <output message="fase2.1:KompenserTransResponse"/>
      
      </operation>
   
   </portType>

   <binding name="SummariskIndgangsangivelseSamlingHentServicePortBinding"
     type="fase2.1:SummariskIndgangsangivelseSamlingHentServicePortType">
     <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
     <operation name="getSummariskIndgangsangivelseSamlingHent">
       <soap:operation soapAction="" />
       <input>
         <soap:body use="literal" />
       </input>
       <output>
         <soap:body use="literal" />
       </output>
     </operation>
     <operation name="getKompenserTrans">
       <soap:operation soapAction="" />
       <input>
         <soap:body use="literal" />
       </input>
       <output>
         <soap:body use="literal" />
       </output>
     </operation>
   </binding>
   <service name="SummariskIndgangsangivelseSamlingHentService">
     <port name="SummariskIndgangsangivelseSamlingHentServicePortType" binding="fase2.1:SummariskIndgangsangivelseSamlingHentServicePortBinding">
       <soap:address location="http://ics.dk.logica.com:7001/SummariskIndgangsangivelseSamlingHent/SummariskIndgangsangivelseSamlingHentService" />
     </port>
   </service>
   
</definitions>
