xmlbeans/src/main/xsd/schema/IE303SummariskIndgangsangivelseOverfoerselStrukturType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://skat.dk/begrebsmodel/2009/01/15/"
  elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:fase2.1="http://skat.dk/begrebsmodel/2009/01/15/">
  <xs:annotation>
    <xs:documentation />
  </xs:annotation>
  <xs:include schemaLocation="Transportmaade.xsd" />
  <xs:include schemaLocation="Land.xsd" />
  <xs:include schemaLocation="SummariskIndgangsangivelseOverfoersel.xsd" />
  <xs:include schemaLocation="SummariskAngivelseOmdirigering.xsd" />
  <xs:include schemaLocation="Transportmiddel.xsd" />
  <xs:include schemaLocation="SummariskAngivelse.xsd" />
  <xs:include schemaLocation="Toldsted.xsd" />
  <xs:include schemaLocation="Indgangsangivelse.xsd" />
  <xs:include schemaLocation="VarePost.xsd" />
  <xs:include schemaLocation="AfvisningBegrundelse.xsd" />
  <xs:include schemaLocation="Sprog.xsd" />
  <xs:include schemaLocation="Lastningssted.xsd" />
  <xs:include schemaLocation="Losningssted.xsd" />
  <xs:include schemaLocation="ToldOperatoer.xsd" />
  <xs:include schemaLocation="EUOperatoer.xsd" />
  <xs:include schemaLocation="AlternativAdresse.xsd" />
  <xs:include schemaLocation="FremlagtDokument.xsd" />
  <xs:include schemaLocation="KombineretNomenklatur.xsd" />
  <xs:include schemaLocation="Container.xsd" />
  <xs:include schemaLocation="Kolli.xsd" />
  <xs:include schemaLocation="Forsegling.xsd" />
  <xs:include schemaLocation="RisikoVurdering.xsd" />
  <xs:element name="IE303SummariskIndgangsangivelseOverførselStruktur" type="fase2.1:IE303SummariskIndgangsangivelseOverførselStrukturType" />
  <xs:complexType name="IE303SummariskIndgangsangivelseOverførselStrukturType">
    <xs:sequence>
      <xs:element name="IE303">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Hoved">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="fase2.1:TransportmådeKode" minOccurs="0" />
                  <xs:element name="FørsteIndgangsLand">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element ref="fase2.1:LandKode" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                  <xs:element ref="fase2.1:SummariskIndgangsangivelseOverførselReference" minOccurs="0" />
                  <xs:element ref="fase2.1:SummariskIndgangsangivelseOverførselType" />
                  <xs:element ref="fase2.1:SummariskAngivelseOmdirigeringLokalReference" minOccurs="0" />
                  <xs:element ref="fase2.1:TransportmiddelIdentitet" minOccurs="0" />
                  <xs:element ref="fase2.1:SummariskAngivelseRisikoMarkering" minOccurs="0" />
                  <xs:element ref="fase2.1:SummariskAngivelseForventetAnkomstDatoTid" minOccurs="0" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="FaktiskFørsteIndgangToldsted">
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="fase2.1:ToldstedReferenceNummer" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="SummariskIndgangsangivelseAfvisningListe">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="SummariskIndgangsangivelseAfvisning" minOccurs="0" maxOccurs="9999">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element ref="fase2.1:IndgangsangivelseMRNNummer" minOccurs="0" />
                        <xs:element ref="fase2.1:VarePostLøbeNummer" minOccurs="0" />
                        <xs:element ref="fase2.1:AfvisningBegrundelseKode" />
                        <xs:element ref="fase2.1:AfvisningBegrundelseBeskrivelse" minOccurs="0" />
                        <xs:element ref="fase2.1:SprogKode" minOccurs="0" />
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="SummariskIndgangsangivelseListe">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="SummariskIndgangsangivelse" minOccurs="0" maxOccurs="9999">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element ref="fase2.1:IndgangsangivelseMRNNummer" />
                        <xs:element ref="fase2.1:SummariskAngivelseRisikoMarkering" />
                        <xs:element ref="fase2.1:SummariskAngivelseLokalReference" minOccurs="0" />
                        <xs:element ref="fase2.1:TransportmådeKode" minOccurs="0" />
                        <xs:element ref="fase2.1:SummariskAngivelseAngivelseDatoTid" minOccurs="0" />
                        <xs:element ref="fase2.1:SummariskAngivelseAngivelseRegistreringDatoTid" minOccurs="0" />
                        <xs:element ref="fase2.1:SummariskAngivelseÆndringAcceptDatoTid" minOccurs="0" />
                        <xs:element ref="fase2.1:SummariskAngivelseAngivelseIndsendelseDatoTid" minOccurs="0" />
                        <xs:element ref="fase2.1:SummariskAngivelseAntalVarePoster" />
                        <xs:element ref="fase2.1:SummariskAngivelseAntalKolli" minOccurs="0" />
                        <xs:element ref="fase2.1:SummariskAngivelseKommercielReferencenummer" minOccurs="0" />
                        <xs:element name="Transportmiddel">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element ref="fase2.1:TransportmiddelIdentitet" minOccurs="0" />
                              <xs:element ref="fase2.1:SprogKode" minOccurs="0" />
                              <xs:element ref="fase2.1:LandKode" minOccurs="0" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element ref="fase2.1:SummariskAngivelseRuteReferencenummer" minOccurs="0" />
                        <xs:element name="Lastningssted">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element ref="fase2.1:LastningsstedKode" minOccurs="0" />
                              <xs:element ref="fase2.1:SprogKode" minOccurs="0" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="Losningssted">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element ref="fase2.1:LosningsstedKode" minOccurs="0" />
                              <xs:element ref="fase2.1:SprogKode" minOccurs="0" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element ref="fase2.1:SummariskAngivelseTotalBruttoMasse" minOccurs="0" />
                        <xs:element ref="fase2.1:SummariskAngivelseSpecielForholdMarkering" minOccurs="0" />
                        <xs:element ref="fase2.1:SummariskAngivelseTransportUdgifterBetalingsmåde" minOccurs="0" />
                        <xs:element name="RegistreringSted">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element ref="fase2.1:SummariskAngivelseAngivelseSted" minOccurs="0" />
                              <xs:element ref="fase2.1:SprogKode" minOccurs="0" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="LandPåRuteListe">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="LandPåRute" minOccurs="0" maxOccurs="99">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element ref="fase2.1:LandKode" />
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="OperatørListe">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="Operatør" minOccurs="0" maxOccurs="unbounded">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element ref="fase2.1:ToldOperatørType" />
                                    <xs:element ref="fase2.1:EUOperatørNavn" minOccurs="0" />





                                    <!--Sequence removed-->
                                    <xs:element name="VejnavnNummer" minOccurs="0">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element ref="fase2.1:AlternativAdresseAdresseLinie1" />
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>








                                    <!--Sequence removed-->
                                    <xs:element name="Postkode" minOccurs="0">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element ref="fase2.1:AlternativAdresseAdresseLinie2" />
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>








                                    <!--Sequence removed-->
                                    <xs:element name="By" minOccurs="0">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element ref="fase2.1:AlternativAdresseAdresseLinie3" />
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element ref="fase2.1:LandKode" minOccurs="0" />
                                    <xs:element ref="fase2.1:SprogKode" minOccurs="0" />
                                    <xs:element ref="fase2.1:ToldOperatørTINNummer" minOccurs="0" />
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="VarePostListe">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="VarePost" minOccurs="0" maxOccurs="999">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element ref="fase2.1:VarePostLøbeNummer" />
                                    <xs:element name="VareBeskrivelse">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element ref="fase2.1:VarePostBeskrivelse" minOccurs="0" />
                                          <xs:element ref="fase2.1:SprogKode" minOccurs="0" />
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element ref="fase2.1:VarePostBruttoMasse" minOccurs="0" />
                                    <xs:element ref="fase2.1:VarePostTransportUdgifterBetalingsmåde"
                                      minOccurs="0" />
                                    <xs:element ref="fase2.1:VarePostKommercielReferenceNummer" minOccurs="0" />
                                    <xs:element ref="fase2.1:VarePostFNFarligtGodsKode" minOccurs="0" />
                                    <xs:element name="Lastningssted">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element ref="fase2.1:LastningsstedKode" minOccurs="0" />
                                          <xs:element ref="fase2.1:SprogKode" minOccurs="0" />
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="Losningssted">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element ref="fase2.1:LosningsstedKode" minOccurs="0" />
                                          <xs:element ref="fase2.1:SprogKode" minOccurs="0" />
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="DokumentOgCertifikatListe">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="DokumentOgCertifikat" minOccurs="0" maxOccurs="99">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element ref="fase2.1:FremlagtDokumentType" />
                                                <xs:element ref="fase2.1:FremlagtDokumentReference" />
                                                <xs:element ref="fase2.1:SprogKode" minOccurs="0" />
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="SærligBemærkningListe">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="SærligBemærkning" minOccurs="0" maxOccurs="99">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element ref="fase2.1:VarePostSærligBemærkning" />
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="OperatørListe">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="Operatør" minOccurs="0" maxOccurs="3">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element ref="fase2.1:ToldOperatørType" />
                                                <xs:element ref="fase2.1:EUOperatørNavn" minOccurs="0" />





                                                <!--Sequence removed-->
                                                <xs:element name="VejnavnNummer" minOccurs="0">
                                                  <xs:complexType>
                                                    <xs:sequence>
                                                      <xs:element ref="fase2.1:AlternativAdresseAdresseLinie1" />
                                                    </xs:sequence>
                                                  </xs:complexType>
                                                </xs:element>








                                                <!--Sequence removed-->
                                                <xs:element name="Postkode" minOccurs="0">
                                                  <xs:complexType>
                                                    <xs:sequence>
                                                      <xs:element ref="fase2.1:AlternativAdresseAdresseLinie2" />
                                                    </xs:sequence>
                                                  </xs:complexType>
                                                </xs:element>








                                                <!--Sequence removed-->
                                                <xs:element name="By" minOccurs="0">
                                                  <xs:complexType>
                                                    <xs:sequence>
                                                      <xs:element ref="fase2.1:AlternativAdresseAdresseLinie3" />
                                                    </xs:sequence>
                                                  </xs:complexType>
                                                </xs:element>
                                                <xs:element ref="fase2.1:LandKode" minOccurs="0" />
                                                <xs:element ref="fase2.1:SprogKode" minOccurs="0" />
                                                <xs:element ref="fase2.1:ToldOperatørTINNummer" minOccurs="0" />
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element ref="fase2.1:KombineretNomenklaturKode" minOccurs="0" />
                                    <xs:element name="ContainerListe">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="Container" minOccurs="0" maxOccurs="99">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element ref="fase2.1:ContainerID" />
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="TransportMiddelVedGrænseListe">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="TransportMiddelVedGrænse" minOccurs="0"
                                            maxOccurs="999">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element ref="fase2.1:LandKode" minOccurs="0" />
                                                <xs:element ref="fase2.1:TransportmiddelIdentitet" minOccurs="0" />
                                                <xs:element ref="fase2.1:SprogKode" minOccurs="0" />
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                    <xs:element name="KolliListe">
                                      <xs:complexType>
                                        <xs:sequence>
                                          <xs:element name="Kolli" minOccurs="0" maxOccurs="99">
                                            <xs:complexType>
                                              <xs:sequence>
                                                <xs:element ref="fase2.1:KolliArt" />
                                                <xs:element ref="fase2.1:KolliAntal" minOccurs="0" />
                                                <xs:element ref="fase2.1:KolliAntalEnheder" minOccurs="0" />
                                                <xs:element ref="fase2.1:KolliMærkeOgNummer" minOccurs="0" />
                                                <xs:element ref="fase2.1:SprogKode" minOccurs="0" />
                                              </xs:sequence>
                                            </xs:complexType>
                                          </xs:element>
                                        </xs:sequence>
                                      </xs:complexType>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>




                        <!--Sequence removed-->
                        <xs:element name="RegistreringToldSted" minOccurs="0">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element ref="fase2.1:ToldstedReferenceNummer" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="FørsteIndgangToldSted">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element ref="fase2.1:ToldstedReferenceNummer" />
                              <xs:element ref="fase2.1:SummariskAngivelseForventetAnkomstDatoTid" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="EfterfølgendeIndgangToldStedListe">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="EfterfølgendeIndgangToldSted" minOccurs="0" maxOccurs="99">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element ref="fase2.1:ToldstedReferenceNummer" />
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="ForseglingListe">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="Forsegling" minOccurs="0" maxOccurs="9999">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element ref="fase2.1:ForseglingIdentifikation" />
                                    <xs:element ref="fase2.1:SprogKode" minOccurs="0" />
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                        <xs:element name="RisikoAnalyseListe">
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element name="RisikoAnalyse" minOccurs="0" maxOccurs="999">
                                <xs:complexType>
                                  <xs:sequence>
                                    <xs:element ref="fase2.1:VarePostLøbeNummer" minOccurs="0" />
                                    <xs:element ref="fase2.1:RisikoVurderingResultatKode" />
                                    <xs:element ref="fase2.1:RisikoVurderingTekst" minOccurs="0" />
                                    <xs:element ref="fase2.1:SprogKode" minOccurs="0" />
                                  </xs:sequence>
                                </xs:complexType>
                              </xs:element>
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>